.comments {
  clear: both;
  margin-top: 2em;
  margin-bottom: 0
}

.comments .comments-content {
  margin-bottom: 16px
}

.comments .comment .comment-actions a {
  padding-right: 5px;
  padding-top: 5px
}

.comments .comment .comment-actions a:hover {
  text-decoration: underline
}

.comments .comments-content .comment-thread ol {
  list-style-type: none;
  padding: 0;
  text-align: left
}

.comments .comments-content .inline-thread {
  padding: .5em 1em
}

.comments .comments-content .comment-thread {
  margin: 8px 0
}

.comments .comments-content .comment-thread:empty {
  display: none
}

.comments .comments-content .comment-replies {
  margin-left: 36px;
  margin-top: 1em
}

.comments .comments-content .comment {
  margin-bottom: 16px;
  padding-bottom: 8px
}

.comments .comments-content .comment:first-child {
  padding-top: 16px
}

.comments .comments-content .comment:last-child {
  border-bottom: 0;
  padding-bottom: 0
}

.comments .comments-content .comment-body {
  position: relative
}

.comments .comments-content .user {
  font-style: normal;
  font-weight: 700
}

.comments .comments-content .icon.blog-author {
  display: inline-block;
  height: 18px;
  margin: 0 0 -4px 6px;
  width: 18px
}

.comments .comments-content .datetime {
  margin-left: 6px
}

.comments .comments-content .comment-content,
.comments .comments-content .comment-header {
  margin: 0 0 8px
}

.comments .comments-content .comment-content {
  text-align: justify
}

.comments .comments-content .owner-actions {
  position: absolute;
  right: 0;
  top: 0
}

.comments .comments-replybox {
  border: none;
  height: 250px;
  width: 100%
}

.comments .comment-replybox-single {
  margin-left: 48px;
  margin-top: 5px
}

.comments .comment-replybox-thread {
  margin-top: 5px
}

.comments .comments-content .loadmore a {
  display: block;
  padding: 10px 16px;
  text-align: center
}

.comments .thread-toggle {
  cursor: pointer;
  display: inline-block
}

.comments .continue {
  cursor: pointer
}

.comments .continue a {
  display: block;
  font-weight: 700;
  padding: .5em
}

.comments .comments-content .loadmore {
  cursor: pointer;
  margin-top: 3em;
  max-height: 3em
}

.comments .comments-content .loadmore.loaded {
  max-height: 0;
  opacity: 0;
  overflow: hidden
}

.comments .thread-chrome.thread-collapsed {
  display: none
}

.comments .thread-toggle {
  display: inline-block
}

.comments .thread-toggle .thread-arrow {
  display: inline-block;
  height: 6px;
  margin: .3em;
  overflow: visible;
  padding-right: 4px;
  width: 7px
}

.comments .thread-expanded .thread-arrow {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVR42mNgwAfKy8v/48I4FeA0AacVDFQBAP9wJkE/KhUMAAAAAElFTkSuQmCC") no-repeat scroll 0 0 transparent
}

.comments .thread-collapsed .thread-arrow {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAJUlEQVR42mNgAILy8vL/DLgASBKnApgkVgXIkhgKiNKJ005s4gDLbCZBiSxfygAAAABJRU5ErkJggg==") no-repeat scroll 0 0 transparent
}

.comments .avatar-image-container {
  float: left;
  overflow: hidden;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-image: url(https://web.archive.org/web/20220327132943im_/https://1.bp.blogspot.com/-0redm1g5jaU/X8EEKa8DOPI/AAAAAAAAT_U/Mmvna60bde8UkoS_6A9-604p5tH3g77eACLcBGAsYHQ/s512/user-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #999
}

.comments .comment-block {
  margin-left: 48px;
  position: relative
}

.comments .hidden {
  display: none
}

@media screen and (max-device-width:480px) {
  .comments .comments-content .comment-replies {
    margin-left: 0
  }
}

.comment-block {
  background: #fff;
  padding: 1em 1em 2em !important;
  border-radius: 10px;
  position: relative;
  border: solid 1px #999;
  margin-bottom: .5em
}

.comment-block::before {
  content: "";
  position: absolute;
  top: 21px;
  left: -21px;
  margin-top: -8px;
  border: 10px solid transparent;
  border-right: 12px solid #fff;
  z-index: 2
}

.comment-block::after {
  content: "";
  position: absolute;
  top: 21px;
  left: -23px;
  margin-top: -8px;
  border: 10px solid transparent;
  border-right: 12.2px solid #999;
  z-index: 1
}

.comment-footer {
  float: right
}

.comment-actions {
  position: absolute;
  right: 5px
}

.comment-actions .comment-reply,
.comment-block .item-control a {
  color: var(--brand-subfont);
  background: var(--brand-subcolor);
  margin: .5rem;
  padding: .5rem;
  border-radius: 5px
}

.comment-actions .comment-reply:hover,
.comment-block .item-control a:hover,
.comment-delete:hover {
  text-decoration: none !important;
  color: #fff !important
}

.comment-actions .comment-reply:hover {
  background: var(--brand-color)
}

.comment-block .item-control a:hover {
  background: tomato
}

.comment-delete::after {
  content: "削除"
}

.rc-note {
  margin-bottom: .5em
}

.rc-block {
  display: block;
  color: var(--font-color) !important;
  padding: .5em;
  border-top: 1px dashed #999;
  word-break: break-all;
  transition: .2s
}

.rc-block:hover {
  text-decoration: none;
  background: #fafafa
}

.rc-head {
  display: flex;
  height: 40px;
  margin-bottom: 10px
}

.rc-head img {
  display: block;
  width: 38px;
  height: 38px;
  border: solid 1px #ccc;
  border-radius: 50%;
  margin: 0
}

.rc-author {
  margin: 0 10px;
  font-weight: 700
}

.rc-time {
  margin: 0 10px;
  color: #777
}