/* アイコンボタン類 */
/*
=======================================================
モバイル用メニューボタン
=======================================================
*/



/*
=======================================================
モバイル用メニューボタン
=======================================================
*/
.button-icon {
  position: fixed;
  display: block;
  top: 20px;
  right: 5px;
  place-items: center;
  inline-size: 42px;
  block-size: 42px;
  border: 0;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--brand-color);
    }
  }

  /* 文字なしボタンの疑似要素アイコン */
  &::before,
  &::after {
    position: absolute;
    top:20px;
    right: 10px;
    width: 20px;
    height: 2px;
    border-radius: 20px;
    background: currentColor;
    content: "";
  }
}

.button-menu {
  /* ::before本体とbox-shadowによる三本線 */
  &::before {
    width: 21px;
    height: 2px;
    border-radius: 20px;
    background: currentColor;
    box-shadow:
      0 -6px 0 currentColor,
      0 6px 0 currentColor;
  }

  &::after {
    /* 三本線では不要な二本目疑似要素 */
    content: none;
  }
}

.button-close {
  transition:
    background-color 0.2s,
    rotate 0.2s ease;

  @media (any-hover: hover) {
    &:hover {
      rotate: 90deg;
    }
  }

  /* ::beforeと::afterの交差による×印 */
  &::before {
    rotate: 45deg;
  }

  &::after {
    rotate: -45deg;
  }
}