:root {
    --font-color: #454545;
    --font-link: #BB3956;
    --font-light: #999999;
    --brand-color: #364956;
    --brand-font: #ffffff;
    --brand-subcolor: #646F7F;
    --brand-subfont: #ffffff;
    --list-line: #646F7F;
    --list-mark: #646F7F;
    --header-color: #1F5A70;
    --other-topback: #748D97;
    --other-back: #E4E5E3;
    --other-border: #17141B;
}

abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,main,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{text-decoration:none}*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}html{font-size:62.5%}body{text-align:left;word-wrap:break-word;overflow-wrap:break-word;font-size:1.7rem;font-weight:500;line-height:1.2;letter-spacing:.02em;min-width:960px}.container{margin:auto;width:86%;min-width:960px;max-width:1180px}a{text-decoration:none;color:inherit}img{height:auto;vertical-align:bottom}iframe,img{max-width:100%}.separator a{margin-left:0!important;margin-right:0!important}.separator a,.separator img{display:inline-block}.section{margin:0}.widget ol,.widget ul{padding:0}.widget-content li{list-style-type:none}.widget .post-body ol,.widget .post-body ul{padding-left:2em;padding-right:0;margin:0.5em 0}.Header h1{margin-bottom:0}.status-msg-wrap{margin:0}.status-msg-body{text-align:left}.status-msg-border{border:0}.status-msg-bg{background:0}.gsc-search-box{margin-bottom:0!important}table.gsc-search-box{background:#fff;border-radius:18px;max-width:16em}input.gsc-search-button{-webkit-appearance:none;-moz-appearance:none;appearance:none;padding:0 .8em;border:0;outline:0;margin-left:0!important;border-radius:18px;font-weight:700;height:2.5em;font-size:14px;cursor:pointer}.gsc-input{padding-right:0!important}input.gsc-input{-webkit-appearance:none;-moz-appearance:none;appearance:none;padding:0 1em;border:0;outline:0;background:#fff;border-radius:18px;height:2.5em;font-size:14px;width:100%}.cloud-label-widget-content{text-align:left}.label-size{font-size:100%!important;opacity:1!important;display:inline-block}@media(max-width:768px){body{font-size:1.6rem;min-width:0}.container{width:96%;min-width:0}.twitter-timeline{width:770px!important}}@media(max-width:480px){#main.width-100 .container{width:100%}.width-100 #sub-content,.width-100 .breadcrumbs{width:96%;margin-right:auto;margin-left:auto}}

body{
    font-family: Inter, "noto sans jp", 游ゴシック, YuGothic, "ヒラギノ角ゴ pro w3", "hiragino kaku gothic pro", Verdana, メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "ms pgothic", sans-serif;
    background: var(--other-topback);
    color: var(--font-color);}
a:hover {
    text-decoration: underline;}

/* blogger標準CSSからの移植 */
.content-outer,
.header-outer,
.tabs-outer,
.main-outer,
.main-inner,
.footer-outer,
.post,.comments,
.widget,
.date-header,
.inline-ad{
  position:relative;
  min-height:0;
  _position:static;
  _height:1%}
.widget {
    line-height: 1.4;
    margin: 30px 0;}
.widget ul {
    padding: 0 0 0 1.25em;
    margin: 0;
    line-height: 1.2;}
.widget li, .BlogArchive #ArchiveList ul.flat li {
    padding: 0.25em 0;
    margin: 0;
    text-indent: 0;}
.widget .post-body ul {
    margin: 0.5em 0;
    line-height: 1.4;}
.widget .post-body li {
    margin-bottom: 0.25em;
    padding-top: 0;
    padding-bottom: 0;}
.section:last-child .widget:last-child {
    margin-bottom: 0;}
.section:first-child .widget:first-child {
    margin-top: 0;}
.PopularPosts .item-thumbnail {
    float: left;
    margin: 0 5px 5px 0;}
.PopularPosts .item-title {
    padding-bottom: 0.2em;}
#ArchiveList .toggle{
  cursor:pointer;font-family:Arial,sans-serif}
#ArchiveList .toggle-open{
  _font-size:1.7em;line-height:.6em}
#ArchiveList{
  text-align:left}
#ArchiveList a.post-count-link,
#ArchiveList a.post-count-link:link,
#ArchiveList a.post-count-link:visited{
  text-decoration:none}
#ArchiveList a.toggle,
#ArchiveList a.toggle:link,
#ArchiveList a.toggle:visited,
#ArchiveList a.toggle:hover{
  color:inherit;text-decoration:none}
.BlogArchive #ArchiveList ul li{
  background:none;
  list-style:none;
  list-style-image:none;
  list-style-position:outside;
  border-width:0;
  padding-left:15px;
  text-indent:-15px;
  margin:.25em 0;
  background-image:none}
.BlogArchive #ArchiveList ul ul li{
  padding-left:1.2em}
.BlogArchive #ArchiveList ul{
  margin:0;
  padding:0;
  list-style:none;
  list-style-image:none;
  border-width:0}
.BlogArchive #ArchiveList ul.posts li{
  padding-left:1.3em}
#ArchiveList .collapsed ul{
  display:none}
.label-size {
    line-height: 1.2;}
.PopularPosts img {
    padding-right: 0.4em;}
.comments{
  clear:both;
  margin-top:10px;
  margin-bottom:0}
.comments .comments-content{
  margin-bottom:16px}
.comments .comment .comment-actions a{
  padding-right:5px;
  padding-top:5px}
.comments .comment .comment-actions a:hover{
  text-decoration:underline}
.comments .comments-content .comment-thread ol{
  list-style-type:none;
  padding:0;
  text-align:left}
.comments .comments-content .inline-thread{
  padding:.5em 1em}
.comments .comments-content .comment-thread{
  margin:8px 0}
.comments .comments-content .comment-thread:empty{
  display:none}
.comments .comments-content .comment-replies{
  margin-left:36px;
  margin-top:1em}
.comments .comments-content .comment{
  margin-bottom:16px;
  padding-bottom:8px}
.comments .comments-content .comment:first-child{
  padding-top:16px}
.comments .comments-content .comment:last-child{
  border-bottom:0;
  padding-bottom:0}
.comments .comments-content .comment-body{
  position:relative}
.comments .comments-content .user{
  font-style:normal;
  font-weight:bold}
.comments .comments-content .icon.blog-author{
  display:inline-block;
  height:18px;
  margin:0 0 -4px 6px;
  width:18px}
.comments .comments-content .datetime{
  margin-left:6px}
.comments .comments-content .comment-header,.comments .comments-content .comment-content{
  margin:0 0 8px}
.comments .comments-content .comment-content{
  text-align:justify}
.comments .comments-content .owner-actions{
  position:absolute;
  right:0;top:0}
.comments .comments-replybox{
  border:none;
  height:250px;
  width:100%}
.comments .comment-replybox-single{
  margin-left:48px;
  margin-top:5px}
.comments .comment-replybox-thread{
  margin-top:5px}
.comments .comments-content .loadmore a{
  display:block;
  padding:10px 16px;
  text-align:center}
.comments .thread-toggle{
  cursor:pointer;
  display:inline-block}
.comments .continue{
  cursor:pointer}
.comments .continue a{
  display:block;
  font-weight:bold;
  padding:.5em}
.comments .comments-content .loadmore{
  cursor:pointer;
  margin-top:3em;
  max-height:3em}
.comments .comments-content .loadmore.loaded{
  max-height:0;
  opacity:0
  ;overflow:hidden}
.comments .thread-chrome.thread-collapsed{
  display:none}
.comments .thread-toggle{
  display:inline-block}
.comments .thread-toggle .thread-arrow{
  display:inline-block;
  height:6px;
  margin:.3em;
  overflow:visible;
  padding-right:4px;
  width:7px}
.comments .thread-expanded .thread-arrow{
  background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVR42mNgwAfKy8v/48I4FeA0AacVDFQBAP9wJkE/KhUMAAAAAElFTkSuQmCC") no-repeat scroll 0 0 transparent}
.comments .thread-collapsed .thread-arrow{
  background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAJUlEQVR42mNgAILy8vL/DLgASBKnApgkVgXIkhgKiNKJ005s4gDLbCZBiSxfygAAAABJRU5ErkJggg==") no-repeat scroll 0 0 transparent}
.comments .avatar-image-container{
  float:left;
  max-height:36px;
  overflow:hidden;
  width:36px}
.comments .avatar-image-container img{
  max-width:36px}
.comments .comment-block{
  margin-left:48px;
  position:relative}
.comments .hidden{
  display:none}
@media screen and (max-device-width:480px){
  .comments .comments-content .comment-replies{
    margin-left:0}}


/* 選択時の色 */
::selection {
    background: var(--brand-subcolor);
    color: var(--brand-subfont);}

/* 2カラム設定 */
#main-inner{
    display: flex;}
#main-content{
    margin-right: 30px;
    width: calc(100% - 346px);
    flex-shrink: 0;}
#sub-content{
    margin-top: 30px;
    width: 316px;
    flex-shrink: 0;
    display: flex;}
@media ( max-width : 768px ) {
    #main-inner{
        display: block;}
    #main-content{
        margin-right: 0;
        width: 100%;}
    #sub-content{
        width: 100%;}}

/* 目次をスクロールに追従 */
.widget:last-child {
    position: sticky;
    top: 0;}

/* リンク下線のアニメ化 */
#BlogArchive1 a,
#HTML3 a,
#single-content a:not(.AmaQuick-btn, .sitemap-link) {
  text-decoration: none;
  background-image: linear-gradient(90deg, var(--font-link), var(--font-link));
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0 1px;
  transition: background-size 0.6s;}
#BlogArchive1 a:not(.AmaQuick-btn, .sitemap-link):hover,
#HTML3 a:hover,
#single-content a:hover {
  background-size: 100% 1px;}

/****************************************
ヘッダ
*****************************************/
#Header1 {
    z-index: 1;
    margin: 0;}
#header-title{
    font-size: 150%;
    font-weight: bold;}
@media (max-width: 768px) {
    #header-title {
        font-size: 130%;}}
#header-text{
    font-size: 80%;}
.site-header__top {
    color: var(--brand-font);
    background-color: var(--brand-color);}
.site-header__top ul {
    display: flex;}
.site-header__top li:not(:last-child) {
    margin-right: 1.5rem;}
.site-header__top .site-header__start {
    display: none;}
.site-header__bottom {
    position: relative;
    color: var(--brand-subfont);
    background-color: var(--brand-subcolor);}
@media (max-width: 768px) {
    .site-header__bottom .site-header__end {
        order: -1;}}
.site-header__bottom .site-header__start {
    height: 1.5em;}
.site-header__bottom .site-header__middle {
    margin: auto;}
.site-header__bottom .site-header__middle li {
    padding: 0 15px;
    display: inline;}
.site-header__bottom .site-header__middle li a {
    display:inline-block;
    position:relative;
    cursor:pointer}
.site-header__bottom .site-header__middle li a:hover {
    text-decoration:none;}
.site-header__bottom .site-header__middle li a::after {
    content:'';
    position:absolute;
    left:50%;
    bottom:-3px;
    width:60%;
    height:3px;
    opacity:0;
    background-color:var(--brand-subfont);
    transform:translate(-50%,0);
    transition:all .2s ease-in-out}
.site-header__bottom .site-header__middle li a:hover::after {
    width:100%;
    opacity:1}
.site-header__wrapper {
    display: flex;
    justify-content: space-between;}
.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;}
.site-header__top .site-header__wrapper {
    padding: 2rem 0;}
.site-header__top .site-header__middle {
    width: 87%;}
.site-header__top .site-header__end {
    width: 100%;
    display: flex;
    justify-content: flex-end;}
@media (max-width: 768px) {
.site-header__top .site-header__end {
    display: none;}}
@media (max-width: 768px) {
    .site-header__bottom {
        display: none;}}

/* 検索ボックス */
.searchform{
    position: relative;
    padding: 0;
    margin: 0 10px 0 0;
    width: 200px;}
.searchbox{
    line-height: 23px;
    padding: 5px 45px 5px 13px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-weight: bold;
    border-radius: 100px;
    outline: none;
    background: var(--other-back)}
.searchsubmit{
    position: absolute;
    right: 5px;
    top: 5px;
    background: none;
    border: none;
    cursor: pointer;
    }
.search-svg {
    width: 20px;
    height: 20px;
    fill: var(--brand-color);
    }
.mobile-search {
    margin: 2rem;}
.mobile-search .searchform {
    margin: auto;}

/* ヘッダーメニューの横並び化 */
#header ol, #header ul {
    z-index:2;
    list-style: none;}

/* シェアボタン */
.sp-sns-menu {
    position: fixed;
    top: 75px;
    right: 5px;
    opacity: .7;}
@media (min-width: 769px) {
    .sp-sns-menu {
        display: none;}}
.share {
    padding: 0 !important;}
.sp-sns-btn,
.share {
    height: 42px;
    display: inline-block;
    background: var(--brand-color);
    fill: #FFF;
    text-align: center;
    border-radius: 5px;}
.sp-sns-btn svg,
.share svg {
    width: 22px;
    height: 22px;
    margin: 10px;
    display: inline-block;}
.sp-sns-menu .share:hover .submenu li:nth-child(1) {
    opacity: 1;
    top: 42px;
    transform: rotate(0deg);
    border-top: 1px dashed #cccccc;
    transition-delay: 0.08s;}
.sp-sns-menu .share:hover .submenu li:nth-child(2) {
    opacity: 1;
    top: 84px;
    transform: rotate(0deg);
    border-top: 1px dashed #cccccc;
    transition-delay: 0.16s;}
.sp-sns-menu .share:hover .submenu li:nth-child(3) {
    opacity: 1;
    top: 126px;
    transform: rotate(0deg);
    border-top: 1px dashed #cccccc;
    transition-delay: 0.24s;}
.sp-sns-menu .share:hover .submenu li:nth-child(4) {
    opacity: 1;
    top: 168px;
    transform: rotate(0deg);
    border-top: 1px dashed #cccccc;
    transition-delay: 0.32s;}
.sp-sns-menu .share:hover .submenu li:nth-child(5) {
    opacity: 1;
    top: 210px;
    transform: rotate(0deg);
    border-top: 1px dashed #cccccc;
    transition-delay: 0.4s;}
.sp-sns-menu .submenu {
    list-style-type: none;
    padding: 0;
    margin: 0;}
.sp-sns-menu .submenu li {
    transition: all ease-in-out 0.5s;
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0;
    padding: 0;}
.sp-sns-menu .submenu li a {
    color: #212121;}
.sp-sns-menu .submenu li:nth-child(1) {
    transform: rotateX(45deg);}
.sp-sns-menu .submenu li:nth-child(2) {
    transform: rotateX(90deg);}
.sp-sns-menu .submenu li:nth-child(3) {
    transform: rotateX(135deg);}
.sp-sns-menu .submenu li:nth-child(4) {
    transform: rotateX(180deg);}
.sp-sns-menu .submenu li:nth-child(5) {
    transform: rotateX(225deg);}


/****************************************
        パンくずリスト
*****************************************/
.breadcrumbs {
    align-items: center;
    display: flex;
    color: var(--brand-font);
    margin: 5px 0;}
.breadcrumb__separator {
    margin: 0 1rem;}
.breadcrumb__separator2 {
    margin-right: 1rem;}

/* 404メッセージ */
.status-msg-wrap{
    color:  var(--font-light);}

/****************************************
        記事一覧
*****************************************/
#list{
    margin-top: 8px;
    margin-bottom: 15px;
    background: var(--other-back);}
.list-item{
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
    padding: 1em;}
.list-item > article {
    display: flex;
    align-items: center;
    width: 100%;}
.list-item:not(:last-child):after{
    content:"";
    display: block;
    position: absolute;
    width: 90%;
    height: 1px;
    border-bottom: dashed 1px var(--other-border);
    left: 5%;
    bottom: 0;}
.list-item-img-box{
    flex-shrink: 0;
    flex-basis: 150px;}
@media screen and (max-width: 768px) {
    .list-item .list-item-img-box {
        flex-basis: 80px;}
    .list-item .list-item-img-box .list-item-img{
        width: 80px;
        height: 80px;}}
.list-item-img{
    display: block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;}
.list-item-inner{
    flex-grow: 1;
    display: flex;
    flex-wrap:wrap;
    padding-left: 2rem;}
.list-item-title{
    font-weight: bold;}
.list-item-link{
    position: relative;
    width: 100%;
    display: grid;}
.list-item > a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    align-items: center;
    display: flex;
    transition: 0.2s;}
@media screen and (min-width: 769px) {
    .list-item > a::before{
        content:'';
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        background:var(--brand-color);
        opacity:0;
        transition:opacity 0.3s linear;}
    .list-item > a:hover::before{
        opacity:0.1;}
    .read-more {
        position: relative;
        width: 14rem;
        margin-left: auto;}
    .read-more .circle {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: var(--brand-subcolor);;
        border-radius: 1.625rem;}
    .read-more .circle .icon {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: var(--brand-font);}
    .read-more .circle .icon.arrow {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        left: 0.625rem;
        width: 1.125rem;
        height: 0.125rem;
        background: none;}
    .read-more .circle .icon.arrow::before {
        position: absolute;
        content: "";
        top: -0.25rem;
        right: 0.0625rem;
        width: 0.625rem;
        height: 0.625rem;
        border-top: 0.125rem solid var(--brand-font);
        border-right: 0.125rem solid var(--brand-font);
        transform: rotate(45deg);}
    .read-more .div-text {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 0.2rem 0;
        margin: 0 0 0 1.85rem;
        color: var(--brand-subcolor);;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;}
    .list-item:hover .circle {
        width: 100%;}
    .list-item:hover .circle .icon.arrow {
        background: var(--brand-font);
        transform: translate(1rem, 0);}
    .list-item:hover .div-text {
        color: var(--brand-font);}}

@media screen and (max-width: 768px) {
    .read-more {display: none}}

/****************************************
        個別記事
*****************************************/
#single{
    padding: 2em;
    background: var(--other-back);}

/* 個別記事見出し */
#single-header-title{
    font-size: 2.3rem;
    font-weight: bold;}
.post-date,
.post-replies {
    align-items: center;
    display: flex;
}
#single-header .post-meta .post-labels {
    margin-left: auto;
    margin-top: 1rem;}
@media ( max-width : 480px ) {
    #single{
        padding: 1.5em 1em 1em 1em;}
    #single-header-title{
        font-size: 1.9rem;}
    #single-content h2,
    #single-content h3{
        font-size: 1.9rem;}}

/* 個別記事本文 */
#single-content{
    margin-top: 1em;
    line-height: 1.8;}
#single-content p:not(.b-toc-container p){
    margin-top: 1.8em;
    margin-bottom: 1.8em;}
#single-content a{
    color: var(--font-link);}
#single-content h2,
#single-content h3,
#single-content h4{
    line-height: 1.4;}
#single-content h2{
    font-size: 24px;
    background: #f6f6f6;
    border: none;
    border-left: 5px solid var(--header-color);
    padding: 20px 20px 20px 30px;
    margin: 2.5em -34px;}
@media screen and (max-width: 768px) {
    #single-content h2{
        padding: 20px 20px 20px 25px;
        margin: 2.5em -32px;}}
@media screen and (max-width: 480px) {
    #single-content h2{
        padding: 20px 20px 20px 10px;
        margin: 1.5em -16px;}
    #single-content h3 {
        margin: 1.5em 0 1em;}}
#single-content h3 {
    font-size: 22px;
    border: none;
    border-bottom: 2px solid var(--header-color);
    padding: 10px 0;
    margin: 2em 0 1em;}
#single-content h4 {
    color: var(--header-color);
    font-size: 18px;
    margin-bottom: 0.5em;
    margin: 2em 0 1em;}
#single-content blockquote {
    position: relative;
    padding: 35px 15px 10px 15px;
    box-sizing: border-box;
    font-style: italic;
    background: #f5f5f5;
    color: #777777;
    border-left: 4px solid var(--list-line);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);}
#single-content blockquote:before{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 15px;
    content: "";
    width: 5rem;
    height: 5rem;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="%23646F7F"><path d="M96 224C84.72 224 74.05 226.3 64 229.9V224c0-35.3 28.7-64 64-64c17.67 0 32-14.33 32-32S145.7 96 128 96C57.42 96 0 153.4 0 224v96c0 53.02 42.98 96 96 96s96-42.98 96-96S149 224 96 224zM352 224c-11.28 0-21.95 2.305-32 5.879V224c0-35.3 28.7-64 64-64c17.67 0 32-14.33 32-32s-14.33-32-32-32c-70.58 0-128 57.42-128 128v96c0 53.02 42.98 96 96 96s96-42.98 96-96S405 224 352 224z"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;}

.imageRow {
    text-align: center;}
.imagesRow {
    text-align: center;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:1em;}
@media (max-width: 768px) {
    .imagesRow {
        grid-template-columns:unset;}}

#single-content blockquote p {
    padding: 0;
    margin: 7px 0;
    line-height: 1.7;}
#single-content blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;}

@media (max-width: 768px) {
    .table-wrapper {
        overflow-x: scroll;}}
.table-wrapper table {
    border-collapse: collapse;
    margin: auto;}
.table-wrapper table,
.table-wrapper tr,
.table-wrapper td,
.table-wrapper th {
    border: 1px solid black;
    padding: 1rem;
    font-size: 90%;}

/* 記事中のリストのデザイン */
#single-content ol {
    counter-reset:number;
    list-style-type: none!important;
    border: solid 2px var(--list-line);
    padding: 0.5em;
    position: relative;}
#single-content ol li {
    position: relative;
    padding-left: 30px;
    line-height: 1.5em;
    padding: 0.5em 0.5em 0.5em 30px;}
#single-content ol li:before {
    position: absolute;
    counter-increment: number;
    content: counter(number);
    display:inline-block;
    background: var(--list-mark);
    color: white;
    font-family: 'Avenir','Arial Black','Arial',sans-serif;
    font-weight:bold;
    font-size: 15px;
    border-radius: 50%;
    left: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);}
#single-content ul:not(.toc-root-list, .toc-sub-list) {
    border: solid 2px var(--list-line);
    padding: 0.5em 1em 0.5em 2.3em;
    position: relative;}
#single-content ul:not(.toc-root-list, .toc-sub-list) li {
    line-height: 1.5;
    padding: 0.5em 0;
    list-style-type: none!important;}
#single-content ul:not(.toc-root-list, .toc-sub-list) li:before {
    content: "";
    position: absolute;
    left: 1em;
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="%23646F7F"><path d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"/></svg>');
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    }

/* Twitter中央寄せ */
.twitter-tweet {
    margin-left: auto;
    margin-right: auto;}

/* Youtube */
iframe[title="YouTube video player"] {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    margin: 3rem 0;}

/* 投稿のヘッダ部 */
.post-meta{
    width: 100%;
    font-size:100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;}
.post-meta > span{
    margin-right:1.5rem;}
@media (max-width: 768px) {
    .post-meta{
        font-size:13px;}
    .post-meta .post-labels{
        width: 100%;}}
.post-meta i{margin:0 .5rem 0 0}

/* SNS */
.share-main {
    width: 70%;
    margin: auto;}
@media (max-width: 768px) {
    .share-main {
        width: 100%;}}
.share-main ul {
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;}
.share-main li {
    width: 20%;
    margin: 0;
    margin-top: 15px;}
.share-main li a {
  font-size: 2rem;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #555;
    transition: ease-in-out, .2s;}
.share-main .tweet a:hover {
    color: #1DA1F2;}
.share-main .facebook a:hover {
    color: #1877F2;}
.share-main .hatena a:hover {
    color: #00A4DE;}
.share-main .line a:hover {
    color: #00C300;}
.share-main .pocket a:hover {
    color: #EF3F56;}

/* Amazonアフィリエイト */
.AmaQuick-box {
    background: var(--brand-font);
    padding: 1rem;
    margin: 3rem 0;}
.AmaQuick-box .AmaQuick-btn{
    background: #FF9900;
    border-radius: 3px;
    margin: 0.25rem;
    z-index: 3;
    position: relative;
    transition: all 0.2s ease 0s;
    text-align: center;
    border: solid 2px rgba(0, 0, 0, 0);
    color: #000 !important;
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;}
.AmaQuick-box .AmaQuick-btn > i{
    margin-right: 0.5rem;}
.AmaQuick-box .AmaQuick-btn:hover{
    background: var(--brand-font);
    border: solid 2px #FF9900 !important;
    color: #FF9900 !important;
    text-decoration: none;}
@media ( max-width : 480px ) {
    .AmaQuick-image img {
        width: 100px;}}

/* 前後の記事 */
#blog-pager{
    margin-top: 30px;
    margin-bottom: 0;}
#blog-pager-newer-link,
#blog-pager-older-link{
    padding: 1em;
    font-weight: bold;
    border-radius: 2em;
    background: var(--brand-subcolor);
    color: var(--brand-subfont);}

/* 個別記事のページネーション */
.adjacent-nav {
    display: flex;
    width: 100%;
    height: 6rem;
    margin-top: 4rem;}
.adjacent-nav-next-none {
    text-align: center;
    display: block;
    align-items: center;}
.adjacent-nav-next-none a {
    position: relative;
    text-decoration: none;
    font-size: 1.1rem;
    transition: ease-in-out, .2s;
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;}
.adjacent-nav-next-none a:hover,
.adjacent-nav-next a:hover,
.adjacent-nav-prev a:hover {
    background: var(--brand-font);}
.adjacent-nav-next-none a p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 1.1rem;
    margin: 0;}
.adjacent-nav-next,
.adjacent-nav-next-none {
    margin-left: .5%;}
.adjacent-nav-prev,
.adjacent-nav-prev-none {
    margin-right: .5%;}
.adjacent-nav-prev,
.adjacent-nav-next,
.adjacent-nav-prev-none,
.adjacent-nav-next-none {
    width: 49.5%;
    height: auto;
    display: block;
    background-color: var(--other-back);}
.adjacent-nav-prev a,
.adjacent-nav-next a {
    flex: 1;
    height: 100%;
    display: flex;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-decoration: none;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    overflow: hidden;}
.prev-next-img {
    height: 100%;
    width: 35%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    position: relative;}
.prev-next-img::before {
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    z-index: 1;}
.prev-label,
.next-label {
    margin: 0.5rem;
    color: var(--brand-font);
    z-index: 2;
    position: absolute;
    top: 0;}
.prev-label {
    left: 0;}
.next-label {
    text-align: right;
    right: 0;}
@media ( max-width : 480px ) {
    .prev-label,
    .next-label {
        font-size: 70%;}}
.adjacent-right {
    width: 65%;
    position: relative;}
.adjacent-right .prev-title,
.adjacent-right .next-title {
    padding: 0 5%;
    font-size: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 90%;
    text-align: left;
    line-height: 1.7;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;

}
@media ( max-width : 480px ) {
    .adjacent-right .prev-title,
    .adjacent-right .next-title {
        font-size: 70%;
        line-height: inherit;
        padding: 0;}}

/* コメント */
#comments{
    margin-top: 2em;}

/* フッターカテゴリ */
#single-footer-category{
    text-align: center;
    margin-top: 2em;}

/* 関連記事 */
#related-posts {
    margin-top: 3em;}
.related-text,
.comment-text {
    text-align: center;
    background: var(--brand-color);
    color: var(--brand-font);
    padding: 10px 14px;
    margin-bottom: 1em;}
.p-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;}
.p-container:after {
    display: block;
    content: "";
    width: 32%;}
#related-posts a {
    display: block;
    width: 32%;
    min-height: 200px;
    border: solid 1px #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 2em;
    transition: all .3s ease;}
.related-img {
    height: 120px;
    margin: 0;
    overflow: hidden;}
.related-img img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 3px 3px 0 0;
    object-fit: cover;
    transition: .3s}
.related-title {
    font-size: 90%;
    font-weight: 700;
    padding: 10px;}
#related-posts a:hover {
    text-decoration: none;
    background: var(--brand-font);}
#related-posts a:hover .related-img img {
    transform: scale(1.1);}
@media screen and (max-width:519px) {
    #related-posts a {
        width: 49%;}}

/****************************************
        サイドバー
*****************************************/
#sub-content{
    font-size: 1.5rem;}
#sidebar{
    width:100%;}
#sub-content a{
    color: var(--font-link);}
#sub-content .widget{
    background: var(--other-back);
    border-radius: 2px;}
#sub-content .widget-content,
#sub-content .contact-form-widget{
    padding: .5em;}
#sub-content .widget h2{
    font-size: 1.8rem;
    padding: .6em;
    background: var(--brand-color);
    color: var(--brand-font);}
.popular-posts li{
    display:flex;
    border-top: 1px dashed #bbb;}

/****************************************
        フッター
*****************************************/
#footer{
    font-size: 1.5rem;
    margin-top: 30px;
    background-color: var(--other-back);}
#footer a{
    color: var(--font-link);}
#footer-inner{
    display: flex;}
#footer-item1,
#footer-item2,
#footer-item3{
    flex-basis: 29.3333%;
    margin-left: 2%;
    margin-right: 2%;}
#footer .widget{
    padding-top: 30px;}
#footer .widget:last-child{
    padding-bottom: 30px;}
#copyright{
    text-align: center;
    font-size: 70%;
    margin-top: 1em;
    color: var(--brand-font);
    letter-spacing: 0;}
#designed-by{
    text-align: center;
    font-size: 70%;
    margin-bottom: 1em;
    color: var(--brand-font);
    letter-spacing: 0;}
@media ( max-width : 768px ) {
    #footer-inner{
        display: block;}}

/****************************************
        個別アイテム
*****************************************/
/* タグクラウド */
.label-size{
    border-radius: 3px;
    margin: .25rem;
    background: var(--brand-subcolor);
    position: relative;
    transition: all 0.2s ease 0s;
    text-align: center;
    border: solid 2px rgba(0, 0, 0, 0);}
.label-size a{
    color: var(--brand-subfont) !important;
    padding:.5rem;
    display:inline-block;
    text-decoration: none;}
.label-size:hover {
    background: var(--other-back);
    border: solid 2px var(--brand-subcolor) !important;}
.label-size:hover a{
	color: var(--brand-subcolor) !important;}
.widget h2{
    font-size: 110%;}
.widget h2,
.widget .widget-content{
    font-weight: bold;}
.post-summary h3 a{
    color: var(--font-color) !important;}

/* プロフィール */
#HTML1 p {
    margin-top: 0;margin-bottom: 1rem;font-weight: normal;}
.side-prof-sns{
    text-align:center}
.twitter-btn, .mail-btn {
    border-radius: 3px;
    margin: .25rem;
    position: relative;
    transition: all 0.2s ease 0s;
    text-align: center;
    border: solid 2px rgba(0, 0, 0, 0);
    color: var(--brand-subfont) !important;
    padding:.5em;
    display:inline-block;
    text-decoration: none;
    font-weight: 700;}
.twitter-btn {
    background: #1DA1F2;}
.mail-btn {
    background: #DB4437;}
.twitter-btn > i, .mail-btn > i {
    margin-right: 0.5rem;}
.twitter-btn:hover {
    background: var(--other-back);
    border: solid 2px #1DA1F2 !important;
    color: #1DA1F2 !important;
    text-decoration: none;}
.mail-btn:hover {
    background: var(--other-back);
    border: solid 2px #DB4437 !important;
    color: #DB4437 !important;
    text-decoration: none;}

/* コメント欄 */
/*アバター画像*/
.avatar-image-container {
    border-radius: 50%;
    width: 35px;
    height:35px;
    background-image: url(https://1.bp.blogspot.com/-0redm1g5jaU/X8EEKa8DOPI/AAAAAAAAT_U/Mmvna60bde8UkoS_6A9-604p5tH3g77eACLcBGAsYHQ/s512/user-icon.png);
    background-repeat:no-repeat;
    background-size: contain;
    border: 1px solid #ddd;}
/*コメント本文(吹き出しの中身)*/
.comment-block {
    background: #fff;
    padding: 1em 1em 2em!important;
    border-radius: 10px;
    position: relative;
    border: solid 1px #ccc;
    margin-bottom:.5em;}
/*吹き出しデザイン(◁の部分)*/
.comment-block::before {
    content: "";
    position: absolute;
    top: 21px;
    left: -21px;
    margin-top: -8px;
    border: 10px solid transparent;
    border-right: 12px solid #fff;
    z-index: 2;}
.comment-block::after {
    content: "";
    position: absolute;
    top: 21px;
    left: -23px;
    margin-top: -8px;
    border: 10px solid transparent;
    border-right: 12.2px solid #ccc;
    z-index: 1;}
/*返信・削除ボタン*/
.comment-footer {
    float: right;}
.comment-actions {
    position: absolute;
    right: 5px;}
.comment-actions .comment-reply,
.comment-block .item-control a {
    color: #666;
    background: #fff;
    border: 1px solid #ddd;
    padding: 1px 6px!important;
    box-shadow: 1px 1px 2px -2px #999;
    border-radius: 20px;}
.comment-actions .comment-reply:hover,
.comment-block .item-control a:hover,
.comment-delete:hover{
    text-decoration: none!important;
    color: #fff!important;}
.comment-actions .comment-reply:hover {
    background: dodgerblue;}
.comment-block .item-control a:hover {
    background: tomato;}
.comment-delete::after {
    content:"削除";}

/* 新着コメント */
.rc-note {
    margin-bottom: 0.5em;}
.rc-block {
    display: block;
    font-size: 0.9em;
    color: var(--font-color) !important;
    padding: 0.5em;
    border-top: 1px dashed #bbb;
    word-break: break-all;
    transition: 0.2s;}
.rc-block:hover {
    text-decoration: none;
    background: #fafafa;}
.rc-head {
    display: flex;
    height: 40px;
    margin-bottom: 10px;}
.rc-head img {
    display: block;
    width: 38px;
    height: 38px;
    border: solid 1px #ccc;
    border-radius: 50%;
    margin: 0;}
.rc-author {
    margin: 0 10px;
    font-weight: bold;}
.rc-time {
    margin: 0 10px;
    color: #777;}

/* 記事目次 */
.b-toc-container{
    background:#f9f9f9;
    padding:10px;
    margin-bottom:1em;
    margin:auto;
    font-size:95%}
.b-toc-container p{
    text-align:center;
    margin:0;padding:0}
.b-toc-container ul{
    padding-left: 0!important}
.b-toc-container.hide>ul{
    display:none}
.b-toc-container ul li{
    margin:0;
    padding:0 0 0 2rem;
    list-style:none}
.b-toc-container ul li:after,
.b-toc-container ul li:before{
    background:0;
    border-radius:0;
    content:""}
.b-toc-container ul li a{
    align-items:flex-start;
    flex-wrap:nowrap}
.b-toc-container ul li .toc-number{
    margin:0 .5em 0 0;
    white-space:nowrap}
#HTML3 .b-toc-container{
    background:inherit;
    padding:0 1rem 1rem 0;
    font-weight: 400;
    margin: 0!important;}
#HTML3 .b-toc-container p{
    display:none;}
#HTML3 .b-toc-container ul li{
    padding: 1rem 0 0 1.5rem;}
@media ( max-width : 768px ) {
    #HTML3 {
        display: none;}
    .b-toc-container ul li{
        padding: 1rem 0 0 1.5rem;}}

/* ページネーション */
.pagination {
    display: flex;
    justify-content: center;}
.pagination-link, .pagination-ellipsis {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    align-items: center;
    font-size: 1em;
    border-radius: 50%;
    margin: 0 5px;
    text-decoration: none;}
.pagination-link {
    color: var(--brand-subfont) !important;
    background: var(--brand-subcolor);
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 1px 2px 0 rgb(0 0 0 / 20%);}
.pagination-link:hover {
    text-decoration: none;}
.pagination-link.current-page {
    color: var(--brand-font) !important;
    background: var(--brand-color);}
.pagination-ellipsis {
    color: #999;
    pointer-events: none;}

/* スクロールボタン */
#pagetop,
#pagebottom {
    display: none;
    position: fixed;
    right: 5px;
    fill: var(--brand-color);
    z-index: 99;}
#pagetop {
    bottom: 80px;}
#pagebottom {
    bottom: 20px;}
#pagetop span,
#pagebottom span {
    transition: .5s;
    opacity: .7;}
#pagetop svg,
#pagebottom svg{
    width: 42px;
    height: 42px;}
#pagetop span:hover,
#pagebottom span:hover {
    cursor: pointer;
    opacity: 1;}

/*　ハンバーガーメニューボタン　*/
.hamburger {
    display : block;
    position: fixed;
    z-index : 5;
    right : 5px;
    top   : 20px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
    background: var(--brand-color);
    border-radius:5px;
    opacity: .7;}
@media screen and (min-width: 769px) {
    .hamburger,
    .hamburger-bg,
    .globalMenuSp {
        display: none;}}
.hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : #ddd;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;}
.hamburger span:nth-child(1) {
    top: 10px;}
.hamburger span:nth-child(2) {
    top: 20px;}
.hamburger span:nth-child(3) {
    top: 30px;}
.hamburger-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: #333;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);}
.hamburger-bg-active {
    opacity: 0.8;
    visibility: visible;}

/* スマホメニューを開いている時のボタン */
.hamburger.active span {
    top : 20px;
    background :#fff;}
.hamburger.active span:nth-child(1) {
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);}

/* メニュー背景　*/
nav.globalMenuSp {
    position: fixed;
    z-index : 4;
    top  : 0;
    left : 0;
    color: #fff;
    background: var(--brand-subcolor);
    text-align: center;
    width: 100%;
    transform: translateY(-100%);
    transition: all 0.6s;}
nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;}
nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
    display: flex;}
nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;}
nav.globalMenuSp ul li:hover{
    background :#ddd;}
nav.globalMenuSp ul li a {
    color: #fff;
    padding: 1em 0;
    width: 100%;
    text-align: center;}
nav.globalMenuSp.active {
    opacity: .7;
    display: block;
    transform: translateY(0%);}

/* font awesome */
.post-meta svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: currentColor;
  margin-right: .5rem;}
.share-main svg {
  height: 2rem;
  width: 2rem;
  fill: currentColor;}
.side-prof-sns svg {
  height: 2rem;
  width: 2rem;
  fill: currentColor;
  vertical-align: text-bottom;
  margin-right: .5rem;}
.amazon-svg {
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
}
.sort-svg {
    height: 1rem;
    width: 1rem;
    fill: var(--brand-font);
}