/* �t���X�N���[���^���j���[ */
/* Full-screen menu */

.menu-full {
  inset: 0;
  grid-template-rows: var(--site-header-height) minmax(0, 1fr);
  gap: 0;
  width: 100%;
  overflow-y: auto;
  padding-block: 0;
  padding-inline: 24px;
  overscroll-behavior-y: contain;
  opacity: 0;
  translate: 0 -24px;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
  }

  &[open] {
    opacity: .85;
    translate: 0 0;
    background: var(--brand-subcolor);

    @starting-style {
      opacity: 0;
      translate: 0 -24px;
    }
  }

  .menu-list {
    overflow: visible;
    overscroll-behavior-y: auto;
    text-align: center;
  }

  .menu-header {
    min-height: var(--site-header-height);
    justify-content: center;
  }
}

.menu-list-large {
  a,
  summary {
    font-size: 4rem;

    @media (width <= 568px) {
      font-size: 3rem;
    }
  }
}
